@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;

  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-seconadry: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius:4px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fdda5a;
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 0.8rem;
        
  }
  .user-btn {
    font-size: 0.8rem;
    margin: 0 0.2em;
        
  }
  .fa-sign-in{
    position: relative;
    cursor: pointer;
    margin-right: 0.5em;
   border: 1px solid rgb(0, 255, 76);
   padding: 5px;
   border-radius: 5px;
  }
  .fa-sign-up{
    margin-right: 0.5em;
    border: 1px solid rgb(0, 255, 76);
    padding: 5px;
    border-radius: 5px;
   }
  .fa-phone {
    margin-left: -1rem;
    margin-right: 0.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
 
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  .navbar img {
    height: 40px;
    width: 180px;
  }
  /* --------------- End of Navbar ---------------- */
  /* --------------- Hero ---------------- */
  .hero {
    min-height: calc(100vh - 60px);
    background: url("./images/hero-bcg-2.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  .contacts{
    margin-top: 1em;
    margin-bottom: -0em;
  }
.banner-title {
  font-size: 3.4rem;
  /*text-transform: uppercase;*/
  font-style: italic;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  box-shadow: 0 0 20px 5px;
  border-radius: 20px;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.categories-center {
  width: 90vw;
  
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: none;
  grid-column-gap: 1.5rem;
  
}
.category h3{
  font-size: 15px;
  text-align: center;
}
.category-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.category-btn:hover {
  color: var(--mainWhite);
}

.fa-search {
  margin-right: 0.5rem;
}
.img-container:hover .category-btn {
  transform: translateX(0);
}
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 13rem;
  transition: var(--mainTransition);
  border: 1px solid var(--primaryColor);
  box-shadow: 0 0 20px 5px;
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;

  
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
  box-sizing: border-box;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0.5rem;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.cart-end {
  display: inline-flex;
  
  gap: 1em;
}
.cart-end button {
  padding: 0.2em 0.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
}

/* --------------- End of Cart ---------------- */

/* client contact submit */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}


.inputs {
  text-align: left;
  margin-top: 30px;
}
.checkout{
  padding: 0.2em 0.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
  margin-left: 150px;
}
label, input {
  display: block;
  width: 90%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 2em;
  margin-left: 2em;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.btn-banner-btn {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

/*end client contact */
/*popup */
.popup{
  width: 100vw;
  height: 100vh;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 200px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: 0.4s, top 0.4s;

}

.open-popup{
  visibility: visible;
  
}
.popup img{
  width: 100px;
  margin-top: -50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width:100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border:0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


/* end popup */

/*log */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap'); 

.logIn-signUp {
   

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: whitesmoke;
    background-size: cover;

    
}

.container-login{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 60px rgba(183, 115, 115, 0.2);
    border-radius: var(--border-radius);
    border-color: #ffff;
    

}

.container-login,
.form__input,
.form__button {
    font: 500 1rem 'quicksand', sans-serif
}
.form--hidden {
    display: none;
}

.form> *:first-child {
    margin-top: 0;
}

.form> *:last-child {
    margin-bottom: 0;
}
.form__title {
    margin-bottom: 2rem;
    text-align: center;

}
.form__message {
    text-align: center;
    margin-bottom: 1rem;
}
.form__message--success {
    color: var(--color-success)
}
.form__message--error {
    color: var(--color-error)
}

.form__input-group {
    margin-bottom: 1rem;
}
.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;

}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}
.form__input-error-message{
    color: var(--color-error);
   margin-top: 0.5rem;
   font-size: 0.85rem;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background: var(--color-primary);
    border-radius: var(--border-radius);
}
.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}
.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover {
    text-decoration: underline;
}

/* end log in */
